table {
  border-collapse: collapse;
  border: 1px solid black;

  vertical-align: middle;
}

thead {
  background-color: #333;
  color: white;
  text-align: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

tfoot {
  font-weight: bold;
}
