* {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
}

header {
  margin-top: 39px;
  margin-left: 165px;
  margin-right: 165px;
  background-color: #151515;
}
body {
  background-color: #151515;
}

footer {
  background-color: #242424;
  margin-left: 165px;
  margin-right: 165px;
}
h1 {
  margin: 0px;
  font-size: 88px;
  color: #ffffff;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
  display: block;
}

main {
  margin-left: 165px;
  margin-right: 165px;
}
.body-l {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
}

.heading-m {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.heading-l {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
  text-align: left;
  color: #ffffff;
}

.heading-xl {
  font-family: "Space Grotesk", sans-serif;
  margin: 0px;
  font-size: 88px;
  color: #ffffff;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -2.5px;
}

.intro {
  margin-top: 127px;
  padding: 10px 5px;
}

.name {
  font-size: 32px;
}
.head-name .techStack-section {
  display: flex;
  flex-wrap: wrap;
}
.head-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social-list {
  list-style-type: none;
}

.techStack-item {
  flex-basis: 33.333333%;
  display: flex;
  flex-direction: column;
}

.techStack-section {
  padding-top: 72px;
  border-top: solid #979797 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 58px;
}

.project-section {
  margin-top: 140px;
  margin-bottom: 139px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  row-gap: 69px;
  column-gap: 30px;
}

.project-header {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.project-item {
  flex-basis: 48%; /* TODO: COMO MANTER UMA COLUMN-GAP DE 30PX E 2 ITEMS POR COLUNA */
  display: flex;
  flex-direction: column;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
}

.contact {
  margin-top: 84px;
  background-color: #242424;
}

.social {
  width: 192.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  width: 25px;
  height: 25px;
}

.under-18 {
  text-decoration: underline #4ee1a0 2px;
  text-underline-offset: 18px;
  line-height: 26px;
}
.under-88 {
  text-decoration: underline #4ee1a0 6px;
  text-underline-offset: 18px;
}
